@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #3A86FF;
  --accent-color: #B8FF5C;
  --background-color: #e3fef9;
  --text-color: #2c2c2c;
  --additional-color: #E6E6E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.col {
  flex-direction: column;
}

.header {
  justify-content: space-between;
  font-size: 2.5rem;
  background-color: #fff;
  width: 97%;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  padding: 15px 52px 15px 52px;
  margin: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  min-height: 120px;
}

.header .logo-container {
  height: 50px;
}

.header .logo-container img {
  height: 50px;
  padding: 0;
  margin: 0;
}

.header .user-controls {
  height: 50px;
  gap: 20px;
}

.header .user-controls img {
  height: 45px;
  border-radius: 50%;
}

.header .user-controls .lang-container {
  font-size: 1.5rem;
  color: var(--text-color);
  gap: 8px;
}

.welcome-container {
  gap: 20px;
  margin-bottom: 100px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  letter-spacing: -0.7px;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 800;
}

.text-welcome {
  font-size: 2rem;
}

.button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: inset 0 0 0 0 #e3fef9;
  transition: box-shadow .2s ease, color .3s ease;
  width: 100%;
}

.button:hover {
  box-shadow: inset 0 0 0 30px #e3fef9;
  color: var(--primary-color);
}

.shop-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logos-container {
  width: 100%;
  max-height: 77px;
  display: flex;
  transform: translateX();
  will-change: transform;
  animation: scroll-left 30s linear infinite;
  gap: 25px;
  padding: 15px 30px;
}

.logos-container img {
  max-height: 20px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.receipts-container {
  width: 100%;
  height: 240px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  animation: scroll-right 30s linear infinite;
}

.receipts-container .receipt {
  width: 150px;
  background-color: var(--additional-color);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  /* box-shadow: ; */
}